@font-face {
  font-family: 'Scheherazade';
  src: url('Scheherazade-R.woff');
}	
@font-face {
  font-family: 'Meera';
  src: url('Meera.woff');
}	
.arab {
    /* font-size:40px; */
    font-family:'Scheherazade', serif;
} 
.mal {
    font-family:'Meera', serif;
} 