<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %} HolyQuran</title>
    {% load static %} 
    {% load extra_filters %}
    <link href="{% static "djangoquran2/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "djangoquran2/style.css" %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style type="text/css">
        body {padding-top: 70px;}
      </style>
    {% block extra_head %}
    {% endblock %}
</head>

<body>    

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">      
        <a class="navbar-brand" href="{% url 'djangoquran2:quran_root_list' %}">Roots</a>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" action="{% url 'djangoquran2:quran_surah' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <select class="form-control" name="surah_number">
              <option value="">--select--</option>
              {% for i in 115|times %}
              <option value="{{ forloop.counter }}"{% if forloop.counter|stringformat:"s" == request.POST.surah_number %} selected{% endif %}>Surah: {{ forloop.counter }}</option>
              {% endfor %}                
            </select>
          </div>
          <button type="submit" class="btn btn-default">Go</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container"> 
    <div class="row">	
      <div class="col-md-10 col-md-offset-1">
        {% block body %}
        {% endblock %}           
      </div>	 
    </div>
  </div> 
  {% block javascript %}
  {% endblock %}   
</body>
</html>

