{% extends "base.html" %}
{% block extra_head %}
<style type="text/css">	
	a.arab:hover{ font-weight: bold;  color: orange;  }   

	a.tooltips span {
	    display:none;
	    font-size: 15px;
	    padding:5px;
	}
	a.tooltips:hover span {
	    display:inline;
	    position:absolute;
	    top: 50px;
	    background:#ffffff;
	    border:1px solid #cccccc;
	    color:#6c6c6c;
	}
</style>
{% endblock %}

{% block body %}
	<a href="{% url 'quran_sura' words.0.sura.number %}">Back</a><br><br>
	{% for word in words %}
	<a class="arab tooltips" href="{{ word.get_absolute_url }}">
		{{ word.token }}<span>{{word.translation}}</span>
	</a> 
	{% endfor %}
	<br>
	<p class="translation">{{ translation.text }}</p>
	<div id="word_root"></div>
{% endblock %} 


{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
	// word.html
	$(".arab").click(function(e){
		//$(this).style="color:green";
		e.preventDefault();
		$("#word_root").load($(this).attr('href'));
	});
});
</script>
{% endblock %} 