<!DOCTYPE html>
  <html>
    <head>
      <!--Let browser know website is optimized for mobile-->      
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <title>{% block head_title %}{% endblock %} HolyQuran</title>
      {% load staticfiles %}
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}"  media="screen,projection"/>
      <link href="{% static "style.css" %}" rel="stylesheet">
      {% block extra_head %}
      {% endblock %}
    </head>

    <body>
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'quran_index' %}" class="brand-logo">Home</a>         
          {% block nav_bar %}{% endblock %} 
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
      </nav>
      
      
      {% block body %}
      {% endblock %}  

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static "jquery.js" %}"></script>
      <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script> 
      {% block javascript %}
      {% endblock %}    
    </body>
  </html>
