{% extends "base.html" %}
{% block body %}
<h3>Suras</h3>
<form action="/" method="get">
    <input name="q">
    <input type="submit" value="Search">
</form>

<table style="width: 100%" class="indextable genindextable"><tbody><tr>
	{% for part in suras %}
	    <td style="width: 33%" valign="top">
	      {% for sura in part %}
    		<div class="arab"><a href="{% url 'quran_sura' sura.number %}">{{ sura.number }}. {{ sura.name }} <small>{{sura.ename}}</small></a></div>
    	  {% endfor %}
	    </td>
	{% endfor %}    
</tr></tbody></table>

{% endblock %}   