{% extends "base.html" %}
{% load extra_filters %}
{% block body %}
<h1><blockquote>{{sura.number}}. {{sura.name}} - {{sura.ename}}</blockquote></h1>
{% for aya,translation in ayas %}
<div style="border:1px dashed #ccc; padding: 20px;">
	<div class="arab" dir='rtl'>
    <span style="cursor: url('{{STATIC_URL}}speaker.ico'), default;" onclick="if (!any_audio_playing)playSound(this, '{{STATIC_URL}}audio/{{ sura.number|zfill:3 }}{{ aya.number|zfill:3 }}.mp3');">{{ aya.text }}</span> 
    <a style="font-size:80%;color:#ccc" href="{{aya.get_absolute_url}}">({{aya.number}})</a>
  </div>        
  <span style="font-size:14px" class="trans{% if cur_trans == 4 or cur_trans == 5 %} mal{% endif %}">{{ translation.text }}</span>
</div>
{% endfor %}
{% endblock %}  

{% block javascript %}
<script type="text/javascript">
var any_audio_playing = false;
function playSound(el,soundfile){
  if (el.mp3) {
    if(el.mp3.paused) {
      el.mp3.play();
      any_audio_playing = true;
    }
  } else {
    el.mp3 = new Audio(soundfile);
    el.mp3.play();        
    el.mp3.onended=function(){
      el.style.color = 'black';
      any_audio_playing = false;
    };        
  }
  el.style.color = 'red';
  any_audio_playing = true;
}
</script>
{% endblock %}  
